/* Reset das margens da página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos Globais */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fonte do texto */
    background-image: url('green.jpg');
    color: darkslategray; /* Cor do texto */
    display: flex; /* Libera o conteúdo interno do body */
    justify-content: center;  /* Centralizar o conteúdo na horizontal */
    align-items: center;   /* Centralizar o conteúdo na vertical */
    height: 100vh;
}
/* Formatação da caixa do formulário */
.container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px; /* Margem interna da caixa */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 5px  10px rgba(47, 79, 79, 0.3);   /* Sombra */
    width: 100%; /* Largura */
    max-width: 400px; /* Largura máxima */
    text-align: center; /* Alinhamento*/
    
}
/* Formatação do título*/
h1 {
    font-size: 24px; /* Tamanho da fonte do título*/
    color: rgb(2, 54, 56); /* Cor da fonte*/
    margin-bottom: 20px; /* Margem inferior*/

}
/* Formatação para cada campo do formulário*/
.form-group {
    margin-bottom: 18px;
    text-align: left; /* Alinhamento para a esquerda*/
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;

}

input[type= "text"],
input[type= "tel"],
input[type= "email"],
input[type= "date"],
input[type= "password"] {
    width: 100%; /* Largura total do input*/
    padding: 10px;
    border: 1px  solid rgb(122, 170, 170);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input[type= "text"]:focus,
input[type= "tel"]:focus,
input[type= "email"]:focus,
input[type= "date"]:focus,
input[type= "password"]:focus {
    border-color: cadetblue;
    outline: none;
}

button{
    background-color: darkslategray;
    color: aliceblue;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;




}